:root {
    --bg-light: #DBECF5;

    --base-light: #FFFFFF;
    --base-shadow: #00113C;

    --text-dark: #00113C;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-light);
    margin: 0;
    padding: 15% 0;
}

.container {
    display: flex;
    margin: 0 auto;
}

.card {
    color: var(--text-dark);
    flex-direction: column;
    background: var(--base-light);
    box-shadow: 0 5rem 20rem -7rem var(--base-shadow);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 20rem;
}

.card img {
    border-radius: .5rem;
}

.card h2 {
    margin: 2rem 0 0 0;
}

.card p {
    font-weight: 300;
    margin: 1rem .5rem 1.5rem .5rem;
}